@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap");

html,
body {
  width: 100%;
  height: 100%;
  font-family: "Source Sans Pro", sans-serif;
  background: url(/polyImages/backgroundSun.jpg) no-repeat center center fixed;
  background-size: cover;
}

/** Layout Styles **/

header {
  height: 70px;
  width: 100%;
}
section {
  padding: 0px;
  margin: 0px;
  border: none;
}

main {
  font-size: 0px;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  width: 100%;
  height: calc(100% - 130px);
  backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.55);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.6);
}

section.sidebar {
  box-sizing: border-box;
  vertical-align: top;
  width: 200px;
  height: 300px;
  display: inline-block;
  margin-top: 20px;
  border-right: 1px solid black;
}

section.content {
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block;
  width: calc(100% - 200px);
  height: 100%;
  overflow-y: auto;
  padding-left: 15px;
  font-family: "Exo 2", sans-serif;
  line-height: 30px;
}

nav.socialNested {
  position: absolute;
  right: 20px;
  top: 25px;
  display: inline-block;
}

nav.socialNested ol li {
  display: inline-block;
}

footer {
  height: 50px;
  width: 100%;
  position: relative;
  z-index: 2;
}

/** Element Styles **/
h1 {
  font-size: 40px;
  font-family: "Josefin Sans", sans-serif;
  color: #000000;
}
h2 {
  font-size: 32px;
  padding-bottom: 10px;
}
h3 {
  font-size: 24px;
  padding-bottom: 15px;
  padding-top: 15px;
}

p {
  font-size: 16px;
  font-weight: 300;
}
a {
  font-size: 16px;
}

/** Page Styles **/

header {
  z-index: 2;
  position: relative;
}

.title {
  text-align: center;
  margin-right: 100px;
  text-shadow: 1px 1px #ffffff;
}

h1.title {
  font-weight: bolder;
  padding-top: 5px;
}

nav.socialNested a:hover {
  color: black;
}

nav.socialNested a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  padding-left: 10px;
}

section.sidebar li {
  color: white;
  margin-top: 22px;
  margin-left: 20px;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
  text-shadow: 1px 1px #ffffff;
}

section.sidebar a:hover {
  color: rgba(37, 62, 172);
}

section.sidebar a {
  font-size: 24px;
  text-decoration: none;
  padding: 15px;
  color: rgb(0, 0, 0);
}

section.welcomeText {
  margin-left: 80px;
  margin-right: 40px;
  margin-top: 50px;
  padding-bottom: 20px;
  text-align: left;
  border-bottom: 1px solid black;
  overflow-y: auto;
}

section.goalsText {
  margin-left: 80px;
  margin-right: 50px;
  padding-top: 50px;
  line-height: 30px;
  text-align: left;
}

section.goalsText h2 {
  padding-bottom: 10px;
  margin-left: 255px;
}

section.contactMe {
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 500px;
}

section.contactMe h2 {
  margin-bottom: 20px;
}

section.aboutMe {
  margin-left: 80px;
  margin-right: 50px;
  padding-top: 15px;
  line-height: 30px;
  text-align: left;
}

section.languages {
  margin-left: 80px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 30px;
  text-align: left;
  border-bottom: 1px solid black;
  overflow-y: auto;
}

section.languages ol li {
  display: inline-block;
}

section.project {
  margin-top: 20px;
  margin-left: 80px;
  margin-right: 40px;
}

section.project ol li {
  float: left;
  margin-top: 20px;
  margin-right: 40px;
}

section.project ol li a {
  text-decoration: none;
}

form.email {
  margin-left: 250px;
  margin-top: 25px;
  padding: 15px;
  width: 300px;
  background-color: rgb(29, 61, 131, 0.3);
  text-align: left;
  border-radius: 10px;
}

form.email input[type="text"],
form.email textarea {
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

form.email textarea {
  width: 200px;
  float: left;
}

input.submit {
  background-color: rgb(62, 106, 202, 0.2);
  padding: 10px;
}

img.profileR {
  width: 220px;
  float: right;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
}

img.profileL {
  width: 220px;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 30px;
  margin-top: 10px;
}

img.headShot {
  border-radius: 10px;
  width: 220px;
  float: left;
  margin-right: 40px;
}

img.snail1 {
  float: left;
  width: 40px;
  padding-left: 50px;
}

img.snail2 {
  float: right;
  width: 40px;
  padding-right: 50px;
}

img.languageLogo {
  width: 100px;
  height: 100px;
  margin-bottom: 5px;
}

img.languageLogoJs {
  width: 115px;
  height: 115px;
}

img.languageLogop {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
}

section.footerLogos ol li {
  margin-left: 20px;
  display: inline-block;
}

img.footerLogo {
  width: 40px;
  height: 40px;
  margin-bottom: 2px;
  display: inline-block;
}

img.footerJS {
  margin-top: 5px;
  width: 46px;
  height: 46px;
}

img.footerPy {
  width: 36px;
  height: 36px;
  margin-bottom: 4px;
}

img.rps {
  width: 300px;
  border-radius: 60px;
}
