@media only screen and (max-device-width: 480px) {
  html {
    background: url(images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  header {
    height: 70px;
    font-size: 50px;
  }

  main {
    height: initial;
  }

  nav.socialNested a {
    text-decoration: none;
    color: white;
    font-size: 32px;
    margin-right: 40px;
  }

  nav.socialNested {
    position: absolute;
    right: 20px;
    top: 10px;
    display: inline-block;
  }

  section.sidebar {
    width: 100%;
    height: 70px;
    display: block;
    text-align: center;
    border: none;
    padding-top: 20px;
  }

  section.sidebar li {
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    display: inline;
  }

  section.sidebar a {
    font-size: 32px;
    text-decoration: none;
  }

  section.content {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-left: 1px solid rgb(0, 0, 0);
    padding-left: 15px;
    font-family: "Exo 2", sans-serif;
  }

  section.contactMe {
    padding-bottom: 80px;
    border-bottom: 1px solid #000000;
  }

  section.welcomeText {
    margin-left: 75px;
    margin-right: 105px;
    margin-top: 50px;
    line-height: 30px;
    text-align: left;
    border-bottom: 1px solid black;
  }

  section {
    height: initial;
    overflow-y: visible;
  }

  section.rps {
    display: inline-block;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 170px;
    margin-bottom: 50px;
  }
}
