@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap");

ol.olLeft a:link,
ol.olLeft a:visited {
  background-color: #657275;
  color: rgb(14, 9, 9);
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  grid-template-columns: 100px 100px 100px;
  width: 120px;
  margin-top: 1em;
  margin-bottom: 1em;
}

ol.olRight a:link,
ol.olRight a:visited {
  color: rgb(92, 157, 218);
  font-size: 175%;
}

nav.mainNav {
  height: 80px;
}

nav.mainNav ol li {
  display: inline-block;
  margin-left: 10px;
}

ol.olLeft a:hover {
  background-color: rgba(122, 91, 61, 1);
}

ol.olLeft {
  float: left;
}

ol.olRight {
  float: right;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 25px;
}

ol.olRight a:hover {
  color: rgb(0, 0, 0);
}

body {
  background: linear-gradient(
    0deg,
    rgba(107, 62, 42, 1) 33%,
    rgba(122, 91, 61, 1) 63%,
    rgba(147, 110, 84, 1) 100%
  );
  font-family: "Source Sans Pro", sans-serif;
}
h1 {
  text-align: Left;
  font-size: 500%;
  background-color: rgb(75, 75, 80);
  font-family: "Exo 2", sans-serif;
}

h2 {
  font-size: 200%;
  font-family: "Exo 2", sans-serif;
  text-align: left;
  margin-left: 20px;
  font-weight: 700;
}

section.mainText {
  background-color: black;
  color: #dddddd;
  text-align: left;
  margin-left: 20px;
  margin-right: 500px;
}

section.lower {
  text-align: right;
  margin-right: 20px;
}

nav {
  text-align: left;
  background-color: rgb(53, 66, 75);
}

img.Snail1 {
  float: left;
}

img.Snail2 {
  float: right;
  height: 150px;
}

img.Profile {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  float: left;
  margin-right: 10px;
}

img.dragonEye {
  width: 700px;
  float: right;
  border-radius: 50px;
}

.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
