@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@200&display=swap");

a:link,
a:visited {
  background-color: #657275;
  color: rgb(14, 9, 9);
  padding: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  grid-template-columns: 100px 100px 100px;
  width: 120px;
  margin-top: 1em;
  margin-bottom: 1em;
}

li {
  display: inline-block;
}

a:hover,
a:active {
  background-color: rgb(70, 53, 53);
}

body {
  background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
  font-family: "Source Sans Pro", sans-serif;
}
h1 {
  text-align: Left;
  font-size: 500%;
  background-color: rgb(75, 75, 80);
  font-family: "Exo 2", sans-serif;
}

h2 {
  font-size: 150%;
}

p {
  text-align: left;
}

section.lower {
  text-align: right;
  background-color: rgb(113, 119, 192);
}

section {
  text-align: center;
  background-color: rgb(92, 157, 218);
  size: 10px;
}

section.socialLinks {
  size: 10px;
  display: right;
}

nav {
  text-align: left;
  background-color: rgb(53, 66, 75);
}

img.Snail1 {
  float: left;
}
img.Snail2 {
  float: right;
  height: 150px;
}

img.Profile {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  float: left;
  margin-right: 10px;
}
